<div class="container">
  <h4>Employee Form</h4>
  <form #form="ngForm" novalidate>

    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstname" required 
        [(ngModel)] = "model.firstName">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lasttname" required 
        [(ngModel)] = "model.lastName">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" 
        [(ngModel)]="model.isFullTime"> Full Time Employee
      </label>
    </div>

    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" checked
        [(ngModel)]= "model.paymentType"> W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="1099"
        [(ngModel)]= "model.paymentType"> 1099
      </label>
    </div>

    <div class="form-group">
      <label>Primary Language</label>
      <select class="form-control" name="primarylanguage" [(ngModel)]="model.primaryLanguage">
        <option *ngFor="let lang of languages">{{ lang }}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Ok</button>
  </form>
</div>