<h3 *ngIf="languages.length == 0">Loading form.......</h3>
<div class="container" *ngIf="languages.length > 0">
  <h4>Employee Form</h4>
  <form #form="ngForm" (submit)="submitForm(form)" novalidate>
<!-- FirstName field -->
    <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
      <label class="control-label">First Name</label>
      <input #firstName="ngModel" type="text" class="form-control" name="firstname" required 
        [(ngModel)]="model.firstName">
    </div>
    <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
      FirstName is required
    </div>
<!-- LastName field -->
    <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
      <label class="control-label">Last Name</label>
      <input #lastName="ngModel" type="text" class="form-control" name="lasttname" required 
        [(ngModel)] = "model.lastName">
    </div>
    <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
      LastName is required
    </div>
<!-- CheckBox -->
    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" 
        [(ngModel)]="model.isFullTime"> Full Time Employee
      </label>
    </div>
<!-- Radio Buttons -->
    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" checked
        [(ngModel)]= "model.paymentType"> W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="1099"
        [(ngModel)]= "model.paymentType"> 1099
      </label>
    </div>
<!-- Select List -->
    <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
      <label class="control-label">Primary Language</label>
      <select class="form-control" #primaryLanguage name="primarylanguage" 
        (blur)="validatePrimaryLanguage(primaryLanguage)" 
        (change)="validatePrimaryLanguage(primaryLanguage.value)"
        [(ngModel)]="model.primaryLanguage">

        <option value="default">Select a language...</option>
        <option *ngFor="let lang of languages">{{ lang }}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit"
      [disabled]="form.invalid">Ok</button>

  </form>
</div>